.container_about{
    width: 1000px;
    margin: 0 auto;
}
.footer_container_about{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 50px;
}
.container_header_about{
    margin-top: 50px;
    margin-left: 1000px;
    margin-bottom: 50px;
}
.date_about{
    margin-top: 35px;
    color: darkgray;
    font-size: 20px;

}
.h_about{
    margin-top: 10px;
}
.link_blog_about{
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 19px;
    text-transform: uppercase;
}
.link_about_about{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 19px;
    text-transform: uppercase;
}
.link_subscribe_about{
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 19px;
    text-transform: uppercase;
}
.link_myblog_about{
    text-decoration: none;
    color: darkgrey;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
.link_credits_about{
    color: darkgrey;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
.link_appreciate_about{
    color: darkgrey;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
.container_index_header{
    margin-top: 50px;
    margin-left: 1000px;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 19px;
}
.container_begin{
    width: 1000px;
    margin: 0 auto;
}
.link_blog{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.link_about{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.link_subscribe{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}